body{
     margin: 0;
}

main{
    padding: 16px;
}

footer{
    padding-top: 24px;
    padding-bottom: 24px;
    padding-left: 0px;
    padding-right: 0px;
    background-color: #b5cf66;
}

img{
    height: 200px;
}

header{
    background-color: #ff5a34;
}

nav{
    font-size:x-large;
    border-bottom: 1px solid rgb(95, 58, 58);
    padding: 16px;
}

html *{
    font-family: Arial, Helvetica, sans-serif;
}

th, td {
	border: 1px solid black;
	padding: 8px;
}

h1{
    color: #592B02;
    font-family: Arial, Helvetica, sans-serif;
    text-shadow: rgb(119, 100, 77) 1px 0 20px;
}

.button{
    background-color: #983C2D;
    border: none;
    color: white;
    padding: 10px 20px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 20px;
    margin: 4px 2px;
    cursor: pointer;
}

a {
    text-decoration: none;
    color: black;
}

.recipes{
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    grid-template-rows: repeat(2, 1fr);
    grid-column-gap: 20px;
    grid-row-gap: 0px;
}

ol{
    font-size: x-large;
}

.steps{
    font-size: xx-large;
}

.ingredients{
    font-size: xx-large;
}
